.modal__wrapper {
  background-color: #fff;
  width: 300px;
  height: auto;
  position: absolute;
  top: 100%;
  z-index: 100;
  box-shadow: 0 8px 15px #0002;
}

.cart__modal {
  background-color: #fff;
  width: 350px;
  height: 100vh;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: -8px 0 15px #0001;
}